html,
body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 7vh;
    margin: 3px;
    color: forestgreen;
}

.number-input {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
    width: 95vw;
    height: 80vh;
    margin: 0 auto;
}

.hymn-display-page {
    width: 95vw;
    height: 100%;
    margin: 0 auto;
}

.key {
    background-color: #333;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 10vh;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box-div {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box {
    background-color: #fff;
    color: #333;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 10vh;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    width: 96%;
    outline: none;
}

.clear-btn {
    background: #ff5722;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 5vh;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-btn {
    background: #4caf50;
    color: #fff;
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 5vh;
    font-family: sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 {
    grid-area: 1 / 1 / 2 / 4;
}

.div2 {
    grid-area: 2 / 1 / 3 / 2;
}

.div3 {
    grid-area: 2 / 2 / 3 / 3;
}

.div4 {
    grid-area: 2 / 3 / 3 / 4;
}

.div5 {
    grid-area: 3 / 1 / 4 / 2;
}

.div6 {
    grid-area: 3 / 2 / 4 / 3;
}

.div7 {
    grid-area: 3 / 3 / 4 / 4;
}

.div8 {
    grid-area: 4 / 1 / 5 / 2;
}

.div9 {
    grid-area: 4 / 2 / 5 / 3;
}

.div10 {
    grid-area: 4 / 3 / 5 / 4;
}

.div11 {
    grid-area: 5 / 2 / 6 / 3;
}

.div12 {
    grid-area: 5 / 1 / 6 / 2;
}

.div13 {
    grid-area: 5 / 3 / 6 / 4;
}

.hymn-text {
    /* white-space: pre; */
    font-size: 1.5rem;
    word-break: break-word;
    display: flex;
    width: 95vw;
    font-family: sans-serif;
}

#backButton {
    height: 5vh;
    width: 10vh;
    font-size: 2vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-decoration: underline;
}

#hymn-number-wrap {
    height: 5vh;
    width: 25vh;
    font-size: 2vh;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}