body {height: 100vh; width: 100vw;}
html, body {margin:0;padding:0;}
.full-height {height: 100%;width:100%;padding:10px;}
.calculator {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.input-box {
    background: #f0f0f0;
    padding: 10px;
    display: flex;
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    border: none;
    outline: none;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
    margin-top: 3px;
}

.key {
    width: 100%;
    height: 20vh;
    font-size: 5rem;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

#clear {
    width: 100%;
    height: 20vh;
    font-size: 5rem;
    background: #ff5722;
    color: #fff;
    border: none;
    cursor: pointer;
}

#searchButton {
    width: 100%;
    height: 20vh;
    font-size: 5rem;
    background: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

.hymn-text {white-space: pre;font-size:2rem;}